
#item1{
 grid-area:item1;
 
}

#item2{
    grid-area:item2;
   }
#item3{
    grid-area:item3; 
   }
#item4{
    grid-area:item4;
}
#item5{
    grid-area:item5;
}
#item6{
    grid-area:item6;
}
#item7{
    grid-area:item7;
}
#item8{
    grid-area:item8;
}
#item9{
    grid-area:item9;
}
#item0{
    grid-area:item0;
}
#add{
    grid-area: add;
}
#sub{
    grid-area: sub;
}
#mul{
    grid-area: mul;
}
#div{
    grid-area: div;
}
#eq{
    grid-area:eq;
   
}
#item{
    grid-area: item;
    border: 2px solid black;
    height: 70px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
#clear{
    grid-area: clear;
    border-color: white;
    color: white;
    background-color: #39475f;
    
}
#del{
    grid-area:del;
    background-color: #39475f;
    border-color: white;
    color: white;
}

.main{
    display: grid;
    grid-template-areas: 
        "item item item item"
        "item item item item"
        "item item item item"
        "item item item item"
        "item7 item8 item9 del"
        "item4 item5 item6 sub"
        "item1 item2 item3 add"
        "item0 item0 div mul"
        "eq eq clear clear";
    box-sizing: border-box;
    
    height: fit-content;
    width: 300px;
    margin: auto auto;
    gap:0;

    
}
div button{
    width: 100%;
    height: 70px;
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    color: black;
    font-weight: bold;
}

p{
    font-size: 200%;
}
body{
    background-color: #39475f;
}
#eq{
    background-color: red;
}
.main{
   border:4px solid black;
   border-radius: 10px;
   
   
}

